.header{
  font-size: 0;
  width: 100vw;

  margin: 0;
  padding: 0;

  border-bottom: 25px solid #917e71;

}

.header__title{
  text-align: center;
	font-family: 'Abril Fatface', cursive;
	position: absolute;
	top: 20vh;
	z-index: 1;
	left: 30%;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	color: #9c8468;
	opacity: 0.8;
  width: 50%;
	min-width: 441px;
	font-size: 50px;
}

.title-lower{
  font-size: 40px;
	text-decoration: none;
}

.header__pic{
  width: 100%;
}
