.skills{
  background: linear-gradient(to bottom,rgba(209,195,152,0.7), rgba(0,0,0,0));
  margin: 0 auto;
  text-align: center;
  overflow: scroll;
  z-index: 50;
}

.skills__hex-row{
	display: inline-block;
  margin: 0 auto -100px auto;
	position: relative;

top: -2vh;
  white-space:nowrap;
	width: 100%;
}

.hex-row-top{
  /*top: -7vh;*/
}

.hex-row_hex{
  margin: 1%;
  display: inline-block;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 30%;
  height: 20vh;
  background: #559587;
}

.row-odd{
  margin-left: 16.3vw;
  transform: translateY(-6vh);
}

.row-middle{
  transform: translateY(-12vh);
}


/*.row-odd > .hex-row_hex{
  width: 30%;
}*/
